<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 启用shrio授权注解拦截方式 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- <property name="filters">
			<map>
				remenmberMe过滤器
				<entry key="rememberMe" value-ref="RememberMeFilter"></entry>
			</map>
		</property> -->
		<!-- 装配 securityManager -->
		<property name="securityManager" ref="securityManager" />
		<!-- 配置登陆页面 -->
		<property name="loginUrl" value="/frame/views/user/login.jsp" />
		<!-- 登陆成功后的页面 -->
		<property name="successUrl" value="/frame/views/index.jsp" />
		<!-- 没有权限的页面 -->
		<property name="unauthorizedUrl" value="/index.jsp" />
		<!-- 具体配置需要拦截哪些 URL, 以及访问对应的 URL 时使用 Shiro 的什么 Filter 进行拦截. -->
		<property name="filterChainDefinitions">
			<value>
				/frame/views/index.jsp=anon
				/frame/views/user/login.jsp=anon
				<!-- /jsp/user.jsp = roles[user] /jsp/admin.jsp = roles[admin] -->
				<!-- /logout = logout -->
				<!-- /**=rememberMe,adminUsers --><!-- 在所有需要记住我的功能的地方加入rememberMe防止session为空 -->
			</value>
		</property>
	</bean>

	<!-- 配置缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<!-- 指定 ehcache 的配置文件 -->
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" />
	</bean>

	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher" class="com.llt.util.RetryLimitHashedCredentialsMatcher">
		<constructor-arg ref="cacheManager" />
		<property name="hashAlgorithmName" value="md5" />
		<property name="hashIterations" value="2" />
		<property name="storedCredentialsHexEncoded" value="true" />
	</bean>

	<!-- 配置进行授权和认证的 Realm -->
	<bean id="MyShiroRealm" class="com.llt.util.MyShiroRealm">
		<property name="credentialsMatcher" ref="credentialsMatcher" />
		<property name="cachingEnabled" value="false" />
	</bean>

	<!-- 配置 Shiro 的 SecurityManager Bean. -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="cacheManager" />
		<property name="realm" ref="MyShiroRealm" />
		<property name="sessionMode" value="native">
		</property>
	</bean>

	<!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- rememberMe拦截器 -->
	<!-- <bean id="RememberMeFilter" class="com.llt.util.RememberMeFilter"></bean> -->
</beans>  