<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 配置实体类的别名 -->
    <typeAliases>
        <package name="com.aaa.entity"/>
    </typeAliases>
   <!-- 连接池交给spring -->
    <!-- spring的mapper帮助扫描，不用一个一个配置 -->
    <!-- 配置分页插件 -->
   <!--  <plugins>
			<plugin interceptor="com.github.pagehelper.PageHelper">
			    <property name="dialect" value="mysql"/>
			</plugin>
  </plugins> -->
</configuration>