.mod2_title {
	border-width: 1px 1px 2px; border-style: solid; border-color: rgb(212, 209, 204) rgb(212, 209, 204) rgb(83, 83, 79); border-image: none; width: 100%; height: 35px; position: relative; z-index: 0;
}
.mod2_title_con {
	padding: 0px 30px; height: 35px; line-height: 35px; border-right-color: rgb(212, 209, 204); border-bottom-color: rgb(83, 182, 214); border-right-width: 1px; border-bottom-width: 2px; border-right-style: solid; border-bottom-style: solid; float: left; position: absolute; z-index: 10;
}
