.wrapper1 {
	background: rgb(249, 249, 248);
}
.wrapper {
	background: rgb(249, 249, 248);
}
#adv_slider {
	margin: 0px auto; width: 1000px;
}
.gjj_firm {
	margin: 0px auto; width: 1000px;
}
.news {
	margin: 0px auto; width: 1000px;
}
#fangbian {
	margin: 0px auto; width: 1000px;
}
.gov_info {
	margin: 0px auto; width: 1000px;
}
.other_centers {
	margin: 0px auto; width: 1000px;
}
.adv_slider {
	
}
#gjj_server {
	width: 740px;
}
#firm-sys {
	width: 240px;
}
#slider {
	width: 400px;
}
#dynamic {
	width: 580px;
}
#fangbian {
	
}
#public {
	width: 400px;
}
#file {
	width: 580px;
}
#channel {
	width: 500px;
}
#fen {
	margin: 0px auto; width: 220px;
}
#others {
	width: 220px;
}
