<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.dao.UserDao">
<resultMap type="com.zys.entity.User" id="int">
  
</resultMap>
  <select id="queryAll"  resultType="map">
    select us.*,xb.* from sys_user us join xtyjbxx xb on us.ygbh=xb.ygbh
  </select>
  <update id="updatePwd" parameterType="com.zys.entity.User">
    update sys_user set user_pwd=#{user_pwd} where userId=#{userId}
  </update>
  <select id="findById" parameterType="int" resultType="com.zys.entity.User">
    select user_pwd from sys_user where userId=#{userId}
  </select>
</mapper>