<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BjqcbMapper">
<!-- zys -->
<resultMap type="Bjqcb" id="int"></resultMap>
  <select id="queryBjqcb" resultMap="int">
    select * from bjqcb
  </select>
  <resultMap id="BaseResultMap" type="com.entity.Bjqcb">
    <id column="bjbh" jdbcType="INTEGER" property="bjbh" />
    <result column="UnitInfoAccount" jdbcType="INTEGER" property="unitinfoaccount" />
    <result column="grzhbhs" jdbcType="INTEGER" property="grzhbhs" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="dwbje" jdbcType="DECIMAL" property="dwbje" />
    <result column="grbje" jdbcType="DECIMAL" property="grbje" />
    <result column="bjrs" jdbcType="INTEGER" property="bjrs" />
    <result column="bjje" jdbcType="DATE" property="bjje" />
    <result column="bjny" jdbcType="DATE" property="bjny" />
    <result column="bjys" jdbcType="INTEGER" property="bjys" />
    <result column="bjssje" jdbcType="DECIMAL" property="bjssje" />
    <result column="bjssjedx" jdbcType="VARCHAR" property="bjssjedx" />
    <result column="bjjkfs" jdbcType="VARCHAR" property="bjjkfs" />
    <result column="bjjkzt" jdbcType="VARCHAR" property="bjjkzt" />
    <result column="bjjzrq" jdbcType="DATE" property="bjjzrq" />
    <result column="bjbz" jdbcType="VARCHAR" property="bjbz" />
    <result column="bjywllx" jdbcType="VARCHAR" property="bjywllx" />
  </resultMap>
  <sql id="Base_Column_List">

    bjbh, UnitInfoAccount, grzhbhs, userId, dwbje, grbje, bjrs, bjje, bjny, bjys, bjssje, 
    bjssjedx, bjjkfs, bjjkzt, bjjzrq, bjbz, bjywllx
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from bjqcb
    where bjbh = #{bjbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from bjqcb
    where bjbh = #{bjbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Bjqcb">

    insert into bjqcb (bjbh, UnitInfoAccount, grzhbhs, 
      userId, dwbje, grbje, 
      bjrs, bjje, bjny, bjys, 
      bjssje, bjssjedx, bjjkfs, 
      bjjkzt, bjjzrq, bjbz, 
      bjywllx)
    values (#{bjbh,jdbcType=INTEGER}, #{unitinfoaccount,jdbcType=INTEGER}, #{grzhbhs,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{dwbje,jdbcType=DECIMAL}, #{grbje,jdbcType=DECIMAL}, 
      #{bjrs,jdbcType=INTEGER}, #{bjje,jdbcType=DATE}, #{bjny,jdbcType=DATE}, #{bjys,jdbcType=INTEGER}, 
      #{bjssje,jdbcType=DECIMAL}, #{bjssjedx,jdbcType=VARCHAR}, #{bjjkfs,jdbcType=VARCHAR}, 
      #{bjjkzt,jdbcType=VARCHAR}, #{bjjzrq,jdbcType=DATE}, #{bjbz,jdbcType=VARCHAR}, 
      #{bjywllx,jdbcType=VARCHAR})
  </insert>

  <!-- 补缴添加 -->
  <insert id="saveBujiao" parameterType="map">

    insert into bjqcb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bjbh != null and bjbh !=''">
        bjbh,
      </if>
      <if test="unitinfoaccount != null and unitinfoaccount !=''">
        UnitInfoAccount,
      </if>
      <if test="grzhbhs != null and grzhbhs !=''">
        grzhbhs,
      </if>
      <if test="userid != null and userid !=''">
        userId,
      </if>
      <if test="dwbje != null and dwbje !=''">
        dwbje,
      </if>
      <if test="grbje != null and grbje !=''">
        grbje,
      </if>
      <if test="bjrs != null and bjrs !=''">
        bjrs,
      </if>
      <if test="bjje != null and bjje !=''">
        bjje,
      </if>
      <if test="bjny != null and bjny !=''">
        bjny,
      </if>
      <if test="bjys != null and bjys !=''">
        bjys,
      </if>
      <if test="bjssje != null and bjssje !=''">
        bjssje,
      </if>
      <if test="bjssjedx != null and bjssjedx !=''">
        bjssjedx,
      </if>
      <if test="bjjkfs != null and bjjkfs !=''">
        bjjkfs,
      </if>
      <if test="bjjkzt != null and bjjkzt !=''">
        bjjkzt,
      </if>
      <if test="bjjzrq != null and bjjzrq !=''">
        bjjzrq,
      </if>
      <if test="bjbz != null and bjbz !=''">
        bjbz,
      </if>
      <if test="bjywllx != null and bjywllx !=''">
        bjywllx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bjbh != null and bjbh !=''">
        #{bjbh,jdbcType=INTEGER},
      </if>
      <if test="unitinfoaccount != null and unitinfoaccount !=''">
        #{unitinfoaccount,jdbcType=INTEGER},
      </if>
      <if test="grzhbhs != null and grzhbhs !=''">
        #{grzhbhs,jdbcType=INTEGER},
      </if>
      <if test="userid != null and userid !=''">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="dwbje != null and dwbje !=''">
        #{dwbje,jdbcType=DECIMAL},
      </if>
      <if test="grbje != null and grbje !=''">
        #{grbje,jdbcType=DECIMAL},
      </if>
      <if test="bjrs != null and bjrs !=''">
        #{bjrs,jdbcType=INTEGER},
      </if>
      <if test="bjje != null and bjje !=''">
        #{bjje,jdbcType=DATE},
      </if>
      <if test="bjny != null and bjny !=''">
        #{bjny,jdbcType=DATE},
      </if>
      <if test="bjys != null and bjys !=''">
        #{bjys,jdbcType=INTEGER},
      </if>
      <if test="bjssje != null and bjssje !=''">
        #{bjssje,jdbcType=DECIMAL},
      </if>
      <if test="bjssjedx != null and bjssjedx !=''">
        #{bjssjedx,jdbcType=VARCHAR},
      </if>
      <if test="bjjkfs != null and bjjkfs !=''">
        #{bjjkfs,jdbcType=VARCHAR},
      </if>
      <if test="bjjkzt != null and bjjkzt !=''">
        #{bjjkzt,jdbcType=VARCHAR},
      </if>
      <if test="bjjzrq != null and bjjzrq !=''">
        #{bjjzrq,jdbcType=DATE},
      </if>
      <if test="bjbz != null and bjbz !=''">
        #{bjbz,jdbcType=VARCHAR},
      </if>
      <if test="bjywllx != null and bjywllx !=''">
        #{bjywllx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Bjqcb">

    update bjqcb
    <set>
      <if test="unitinfoaccount != null">
        UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER},
      </if>
      <if test="grzhbhs != null">
        grzhbhs = #{grzhbhs,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="dwbje != null">
        dwbje = #{dwbje,jdbcType=DECIMAL},
      </if>
      <if test="grbje != null">
        grbje = #{grbje,jdbcType=DECIMAL},
      </if>
      <if test="bjrs != null">
        bjrs = #{bjrs,jdbcType=INTEGER},
      </if>
      <if test="bjje != null">
        bjje = #{bjje,jdbcType=DATE},
      </if>
      <if test="bjny != null">
        bjny = #{bjny,jdbcType=DATE},
      </if>
      <if test="bjys != null">
        bjys = #{bjys,jdbcType=INTEGER},
      </if>
      <if test="bjssje != null">
        bjssje = #{bjssje,jdbcType=DECIMAL},
      </if>
      <if test="bjssjedx != null">
        bjssjedx = #{bjssjedx,jdbcType=VARCHAR},
      </if>
      <if test="bjjkfs != null">
        bjjkfs = #{bjjkfs,jdbcType=VARCHAR},
      </if>
      <if test="bjjkzt != null">
        bjjkzt = #{bjjkzt,jdbcType=VARCHAR},
      </if>
      <if test="bjjzrq != null">
        bjjzrq = #{bjjzrq,jdbcType=DATE},
      </if>
      <if test="bjbz != null">
        bjbz = #{bjbz,jdbcType=VARCHAR},
      </if>
      <if test="bjywllx != null">
        bjywllx = #{bjywllx,jdbcType=VARCHAR},
      </if>
    </set>
    where bjbh = #{bjbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Bjqcb">

    update bjqcb
    set UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER},
      grzhbhs = #{grzhbhs,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      dwbje = #{dwbje,jdbcType=DECIMAL},
      grbje = #{grbje,jdbcType=DECIMAL},
      bjrs = #{bjrs,jdbcType=INTEGER},
      bjje = #{bjje,jdbcType=DATE},
      bjny = #{bjny,jdbcType=DATE},
      bjys = #{bjys,jdbcType=INTEGER},
      bjssje = #{bjssje,jdbcType=DECIMAL},
      bjssjedx = #{bjssjedx,jdbcType=VARCHAR},
      bjjkfs = #{bjjkfs,jdbcType=VARCHAR},
      bjjkzt = #{bjjkzt,jdbcType=VARCHAR},
      bjjzrq = #{bjjzrq,jdbcType=DATE},
      bjbz = #{bjbz,jdbcType=VARCHAR},
      bjywllx = #{bjywllx,jdbcType=VARCHAR}
    where bjbh = #{bjbh,jdbcType=INTEGER}
  </update>
</mapper>