<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.gjjtqjlMapper" >
  <resultMap id="BaseResultMap" type="com.entity.gjjtqjl" >
    <id column="tqjlbh" property="tqjlbh" jdbcType="INTEGER" />
    <result column="tqyyId" property="tqyyid" jdbcType="INTEGER" />
    <result column="grzhbh" property="grzhbh" jdbcType="INTEGER" />
    <result column="tqje" property="tqje" jdbcType="DECIMAL" />
    <result column="tqsj" property="tqsj" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tqjlbh, tqyyId, grzhbh, tqje, tqsj
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gjjtqjl
    where tqjlbh = #{tqjlbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gjjtqjl
    where tqjlbh = #{tqjlbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.gjjtqjl" >
    insert into gjjtqjl (tqjlbh, tqyyId, grzhbh, 
      tqje, tqsj)
    values (#{tqjlbh,jdbcType=INTEGER}, #{tqyyid,jdbcType=INTEGER}, #{grzhbh,jdbcType=INTEGER}, 
      #{tqje,jdbcType=DECIMAL}, #{tqsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.gjjtqjl" >
    insert into gjjtqjl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tqjlbh != null" >
        tqjlbh,
      </if>
      <if test="tqyyid != null" >
        tqyyId,
      </if>
      <if test="grzhbh != null" >
        grzhbh,
      </if>
      <if test="tqje != null" >
        tqje,
      </if>
      <if test="tqsj != null" >
        tqsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tqjlbh != null" >
        #{tqjlbh,jdbcType=INTEGER},
      </if>
      <if test="tqyyid != null" >
        #{tqyyid,jdbcType=INTEGER},
      </if>
      <if test="grzhbh != null" >
        #{grzhbh,jdbcType=INTEGER},
      </if>
      <if test="tqje != null" >
        #{tqje,jdbcType=DECIMAL},
      </if>
      <if test="tqsj != null" >
        #{tqsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.gjjtqjl" >
    update gjjtqjl
    <set >
      <if test="tqyyid != null" >
        tqyyId = #{tqyyid,jdbcType=INTEGER},
      </if>
      <if test="grzhbh != null" >
        grzhbh = #{grzhbh,jdbcType=INTEGER},
      </if>
      <if test="tqje != null" >
        tqje = #{tqje,jdbcType=DECIMAL},
      </if>
      <if test="tqsj != null" >
        tqsj = #{tqsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tqjlbh = #{tqjlbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.gjjtqjl" >
    update gjjtqjl
    set tqyyId = #{tqyyid,jdbcType=INTEGER},
      grzhbh = #{grzhbh,jdbcType=INTEGER},
      tqje = #{tqje,jdbcType=DECIMAL},
      tqsj = #{tqsj,jdbcType=TIMESTAMP}
    where tqjlbh = #{tqjlbh,jdbcType=INTEGER}
  </update>
</mapper>