<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.grzfbkzhxxMapper" >
  <resultMap id="BaseResultMap" type="com.entity.grzfbkzhxx" >
    <id column="dkbh" property="dkbh" jdbcType="INTEGER" />
    <result column="dkxxbh" property="dkxxbh" jdbcType="INTEGER" />
    <result column="dkzh" property="dkzh" jdbcType="VARCHAR" />
    <result column="dkffe" property="dkffe" jdbcType="DECIMAL" />
    <result column="dkffrq" property="dkffrq" jdbcType="DATE" />
    <result column="dkye" property="dkye" jdbcType="DECIMAL" />
    <result column="zxll" property="zxll" jdbcType="DECIMAL" />
    <result column="llfdbl" property="llfdbl" jdbcType="DECIMAL" />
    <result column="grdkqs" property="grdkqs" jdbcType="DECIMAL" />
    <result column="dqjhhkje" property="dqjhhkje" jdbcType="DECIMAL" />
    <result column="grdqjhghbj" property="grdqjhghbj" jdbcType="DECIMAL" />
    <result column="dqjhghlxs" property="dqjhghlxs" jdbcType="DECIMAL" />
    <result column="dqyhze" property="dqyhze" jdbcType="DECIMAL" />
    <result column="dqyhbj" property="dqyhbj" jdbcType="DECIMAL" />
    <result column="dqyhlx" property="dqyhlx" jdbcType="DECIMAL" />
    <result column="dqyhfx" property="dqyhfx" jdbcType="DECIMAL" />
    <result column="dkjqrq" property="dkjqrq" jdbcType="DATE" />
    <result column="hsbjze" property="hsbjze" jdbcType="DECIMAL" />
    <result column="hslxze" property="hslxze" jdbcType="DECIMAL" />
    <result column="fxze" property="fxze" jdbcType="DECIMAL" />
    <result column="tqghbjze" property="tqghbjze" jdbcType="DECIMAL" />
    <result column="grfdyqbj" property="grfdyqbj" jdbcType="DECIMAL" />
    <result column="grfdyqlx" property="grfdyqlx" jdbcType="DECIMAL" />
    <result column="ljyqqs" property="ljyqqs" jdbcType="DECIMAL" />
    <result column="shzt" property="shzt" jdbcType="VARCHAR" />
    <result column="sfzx" property="sfzx" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dkbh, dkxxbh, dkzh, dkffe, dkffrq, dkye, zxll, llfdbl, grdkqs, dqjhhkje, grdqjhghbj, 
    dqjhghlxs, dqyhze, dqyhbj, dqyhlx, dqyhfx, dkjqrq, hsbjze, hslxze, fxze, tqghbjze, 
    grfdyqbj, grfdyqlx, ljyqqs, shzt, sfzx
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from grzfbkzhxx
    where dkbh = #{dkbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from grzfbkzhxx
    where dkbh = #{dkbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.grzfbkzhxx" >
    insert into grzfbkzhxx (dkbh, dkxxbh, dkzh, 
      dkffe, dkffrq, dkye, zxll, 
      llfdbl, grdkqs, dqjhhkje, 
      grdqjhghbj, dqjhghlxs, dqyhze, 
      dqyhbj, dqyhlx, dqyhfx, 
      dkjqrq, hsbjze, hslxze, 
      fxze, tqghbjze, grfdyqbj, 
      grfdyqlx, ljyqqs, shzt, 
      sfzx)
    values (#{dkbh,jdbcType=INTEGER}, #{dkxxbh,jdbcType=INTEGER}, #{dkzh,jdbcType=VARCHAR}, 
      #{dkffe,jdbcType=DECIMAL}, #{dkffrq,jdbcType=DATE}, #{dkye,jdbcType=DECIMAL}, #{zxll,jdbcType=DECIMAL}, 
      #{llfdbl,jdbcType=DECIMAL}, #{grdkqs,jdbcType=DECIMAL}, #{dqjhhkje,jdbcType=DECIMAL}, 
      #{grdqjhghbj,jdbcType=DECIMAL}, #{dqjhghlxs,jdbcType=DECIMAL}, #{dqyhze,jdbcType=DECIMAL}, 
      #{dqyhbj,jdbcType=DECIMAL}, #{dqyhlx,jdbcType=DECIMAL}, #{dqyhfx,jdbcType=DECIMAL}, 
      #{dkjqrq,jdbcType=DATE}, #{hsbjze,jdbcType=DECIMAL}, #{hslxze,jdbcType=DECIMAL}, 
      #{fxze,jdbcType=DECIMAL}, #{tqghbjze,jdbcType=DECIMAL}, #{grfdyqbj,jdbcType=DECIMAL}, 
      #{grfdyqlx,jdbcType=DECIMAL}, #{ljyqqs,jdbcType=DECIMAL}, #{shzt,jdbcType=VARCHAR}, 
      #{sfzx,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.grzfbkzhxx" >
    insert into grzfbkzhxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dkbh != null" >
        dkbh,
      </if>
      <if test="dkxxbh != null" >
        dkxxbh,
      </if>
      <if test="dkzh != null" >
        dkzh,
      </if>
      <if test="dkffe != null" >
        dkffe,
      </if>
      <if test="dkffrq != null" >
        dkffrq,
      </if>
      <if test="dkye != null" >
        dkye,
      </if>
      <if test="zxll != null" >
        zxll,
      </if>
      <if test="llfdbl != null" >
        llfdbl,
      </if>
      <if test="grdkqs != null" >
        grdkqs,
      </if>
      <if test="dqjhhkje != null" >
        dqjhhkje,
      </if>
      <if test="grdqjhghbj != null" >
        grdqjhghbj,
      </if>
      <if test="dqjhghlxs != null" >
        dqjhghlxs,
      </if>
      <if test="dqyhze != null" >
        dqyhze,
      </if>
      <if test="dqyhbj != null" >
        dqyhbj,
      </if>
      <if test="dqyhlx != null" >
        dqyhlx,
      </if>
      <if test="dqyhfx != null" >
        dqyhfx,
      </if>
      <if test="dkjqrq != null" >
        dkjqrq,
      </if>
      <if test="hsbjze != null" >
        hsbjze,
      </if>
      <if test="hslxze != null" >
        hslxze,
      </if>
      <if test="fxze != null" >
        fxze,
      </if>
      <if test="tqghbjze != null" >
        tqghbjze,
      </if>
      <if test="grfdyqbj != null" >
        grfdyqbj,
      </if>
      <if test="grfdyqlx != null" >
        grfdyqlx,
      </if>
      <if test="ljyqqs != null" >
        ljyqqs,
      </if>
      <if test="shzt != null" >
        shzt,
      </if>
      <if test="sfzx != null" >
        sfzx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dkbh != null" >
        #{dkbh,jdbcType=INTEGER},
      </if>
      <if test="dkxxbh != null" >
        #{dkxxbh,jdbcType=INTEGER},
      </if>
      <if test="dkzh != null" >
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="dkffe != null" >
        #{dkffe,jdbcType=DECIMAL},
      </if>
      <if test="dkffrq != null" >
        #{dkffrq,jdbcType=DATE},
      </if>
      <if test="dkye != null" >
        #{dkye,jdbcType=DECIMAL},
      </if>
      <if test="zxll != null" >
        #{zxll,jdbcType=DECIMAL},
      </if>
      <if test="llfdbl != null" >
        #{llfdbl,jdbcType=DECIMAL},
      </if>
      <if test="grdkqs != null" >
        #{grdkqs,jdbcType=DECIMAL},
      </if>
      <if test="dqjhhkje != null" >
        #{dqjhhkje,jdbcType=DECIMAL},
      </if>
      <if test="grdqjhghbj != null" >
        #{grdqjhghbj,jdbcType=DECIMAL},
      </if>
      <if test="dqjhghlxs != null" >
        #{dqjhghlxs,jdbcType=DECIMAL},
      </if>
      <if test="dqyhze != null" >
        #{dqyhze,jdbcType=DECIMAL},
      </if>
      <if test="dqyhbj != null" >
        #{dqyhbj,jdbcType=DECIMAL},
      </if>
      <if test="dqyhlx != null" >
        #{dqyhlx,jdbcType=DECIMAL},
      </if>
      <if test="dqyhfx != null" >
        #{dqyhfx,jdbcType=DECIMAL},
      </if>
      <if test="dkjqrq != null" >
        #{dkjqrq,jdbcType=DATE},
      </if>
      <if test="hsbjze != null" >
        #{hsbjze,jdbcType=DECIMAL},
      </if>
      <if test="hslxze != null" >
        #{hslxze,jdbcType=DECIMAL},
      </if>
      <if test="fxze != null" >
        #{fxze,jdbcType=DECIMAL},
      </if>
      <if test="tqghbjze != null" >
        #{tqghbjze,jdbcType=DECIMAL},
      </if>
      <if test="grfdyqbj != null" >
        #{grfdyqbj,jdbcType=DECIMAL},
      </if>
      <if test="grfdyqlx != null" >
        #{grfdyqlx,jdbcType=DECIMAL},
      </if>
      <if test="ljyqqs != null" >
        #{ljyqqs,jdbcType=DECIMAL},
      </if>
      <if test="shzt != null" >
        #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="sfzx != null" >
        #{sfzx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.grzfbkzhxx" >
    update grzfbkzhxx
    <set >
      <if test="dkxxbh != null" >
        dkxxbh = #{dkxxbh,jdbcType=INTEGER},
      </if>
      <if test="dkzh != null" >
        dkzh = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="dkffe != null" >
        dkffe = #{dkffe,jdbcType=DECIMAL},
      </if>
      <if test="dkffrq != null" >
        dkffrq = #{dkffrq,jdbcType=DATE},
      </if>
      <if test="dkye != null" >
        dkye = #{dkye,jdbcType=DECIMAL},
      </if>
      <if test="zxll != null" >
        zxll = #{zxll,jdbcType=DECIMAL},
      </if>
      <if test="llfdbl != null" >
        llfdbl = #{llfdbl,jdbcType=DECIMAL},
      </if>
      <if test="grdkqs != null" >
        grdkqs = #{grdkqs,jdbcType=DECIMAL},
      </if>
      <if test="dqjhhkje != null" >
        dqjhhkje = #{dqjhhkje,jdbcType=DECIMAL},
      </if>
      <if test="grdqjhghbj != null" >
        grdqjhghbj = #{grdqjhghbj,jdbcType=DECIMAL},
      </if>
      <if test="dqjhghlxs != null" >
        dqjhghlxs = #{dqjhghlxs,jdbcType=DECIMAL},
      </if>
      <if test="dqyhze != null" >
        dqyhze = #{dqyhze,jdbcType=DECIMAL},
      </if>
      <if test="dqyhbj != null" >
        dqyhbj = #{dqyhbj,jdbcType=DECIMAL},
      </if>
      <if test="dqyhlx != null" >
        dqyhlx = #{dqyhlx,jdbcType=DECIMAL},
      </if>
      <if test="dqyhfx != null" >
        dqyhfx = #{dqyhfx,jdbcType=DECIMAL},
      </if>
      <if test="dkjqrq != null" >
        dkjqrq = #{dkjqrq,jdbcType=DATE},
      </if>
      <if test="hsbjze != null" >
        hsbjze = #{hsbjze,jdbcType=DECIMAL},
      </if>
      <if test="hslxze != null" >
        hslxze = #{hslxze,jdbcType=DECIMAL},
      </if>
      <if test="fxze != null" >
        fxze = #{fxze,jdbcType=DECIMAL},
      </if>
      <if test="tqghbjze != null" >
        tqghbjze = #{tqghbjze,jdbcType=DECIMAL},
      </if>
      <if test="grfdyqbj != null" >
        grfdyqbj = #{grfdyqbj,jdbcType=DECIMAL},
      </if>
      <if test="grfdyqlx != null" >
        grfdyqlx = #{grfdyqlx,jdbcType=DECIMAL},
      </if>
      <if test="ljyqqs != null" >
        ljyqqs = #{ljyqqs,jdbcType=DECIMAL},
      </if>
      <if test="shzt != null" >
        shzt = #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="sfzx != null" >
        sfzx = #{sfzx,jdbcType=VARCHAR},
      </if>
    </set>
    where dkbh = #{dkbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.grzfbkzhxx" >
    update grzfbkzhxx
    set dkxxbh = #{dkxxbh,jdbcType=INTEGER},
      dkzh = #{dkzh,jdbcType=VARCHAR},
      dkffe = #{dkffe,jdbcType=DECIMAL},
      dkffrq = #{dkffrq,jdbcType=DATE},
      dkye = #{dkye,jdbcType=DECIMAL},
      zxll = #{zxll,jdbcType=DECIMAL},
      llfdbl = #{llfdbl,jdbcType=DECIMAL},
      grdkqs = #{grdkqs,jdbcType=DECIMAL},
      dqjhhkje = #{dqjhhkje,jdbcType=DECIMAL},
      grdqjhghbj = #{grdqjhghbj,jdbcType=DECIMAL},
      dqjhghlxs = #{dqjhghlxs,jdbcType=DECIMAL},
      dqyhze = #{dqyhze,jdbcType=DECIMAL},
      dqyhbj = #{dqyhbj,jdbcType=DECIMAL},
      dqyhlx = #{dqyhlx,jdbcType=DECIMAL},
      dqyhfx = #{dqyhfx,jdbcType=DECIMAL},
      dkjqrq = #{dkjqrq,jdbcType=DATE},
      hsbjze = #{hsbjze,jdbcType=DECIMAL},
      hslxze = #{hslxze,jdbcType=DECIMAL},
      fxze = #{fxze,jdbcType=DECIMAL},
      tqghbjze = #{tqghbjze,jdbcType=DECIMAL},
      grfdyqbj = #{grfdyqbj,jdbcType=DECIMAL},
      grfdyqlx = #{grfdyqlx,jdbcType=DECIMAL},
      ljyqqs = #{ljyqqs,jdbcType=DECIMAL},
      shzt = #{shzt,jdbcType=VARCHAR},
      sfzx = #{sfzx,jdbcType=VARCHAR}
    where dkbh = #{dkbh,jdbcType=INTEGER}
  </update>
</mapper>