<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GrzhztbMapper">
  <resultMap id="BaseResultMap" type="com.entity.Grzhztb">
    <id column="zhztbh" jdbcType="INTEGER" property="zhztbh" />
    <result column="zhzt" jdbcType="VARCHAR" property="zhzt" />
    <result column="zhztsm" jdbcType="VARCHAR" property="zhztsm" />
  </resultMap>
  <sql id="Base_Column_List">
    zhztbh, zhzt, zhztsm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grzhztb
    where zhztbh = #{zhztbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grzhztb
    where zhztbh = #{zhztbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Grzhztb">
    insert into grzhztb (zhztbh, zhzt, zhztsm
      )
    values (#{zhztbh,jdbcType=INTEGER}, #{zhzt,jdbcType=VARCHAR}, #{zhztsm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Grzhztb">
    insert into grzhztb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zhztbh != null">
        zhztbh,
      </if>
      <if test="zhzt != null">
        zhzt,
      </if>
      <if test="zhztsm != null">
        zhztsm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zhztbh != null">
        #{zhztbh,jdbcType=INTEGER},
      </if>
      <if test="zhzt != null">
        #{zhzt,jdbcType=VARCHAR},
      </if>
      <if test="zhztsm != null">
        #{zhztsm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Grzhztb">
    update grzhztb
    <set>
      <if test="zhzt != null">
        zhzt = #{zhzt,jdbcType=VARCHAR},
      </if>
      <if test="zhztsm != null">
        zhztsm = #{zhztsm,jdbcType=VARCHAR},
      </if>
    </set>
    where zhztbh = #{zhztbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Grzhztb">
    update grzhztb
    set zhzt = #{zhzt,jdbcType=VARCHAR},
      zhztsm = #{zhztsm,jdbcType=VARCHAR}
    where zhztbh = #{zhztbh,jdbcType=INTEGER}
  </update>
</mapper>