<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GslxbMapper">
  <resultMap id="BaseResultMap" type="com.entity.Gslxb">

    <id column="gslxbh" jdbcType="INTEGER" property="gslxbh" />
    <result column="gslxmc" jdbcType="VARCHAR" property="gslxmc" />
  </resultMap>
  <sql id="Base_Column_List">

    gslxbh, gslxmc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from gslxb
    where gslxbh = #{gslxbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from gslxb
    where gslxbh = #{gslxbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Gslxb">

    insert into gslxb (gslxbh, gslxmc)
    values (#{gslxbh,jdbcType=INTEGER}, #{gslxmc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Gslxb">

    insert into gslxb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gslxbh != null">
        gslxbh,
      </if>
      <if test="gslxmc != null">
        gslxmc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gslxbh != null">
        #{gslxbh,jdbcType=INTEGER},
      </if>
      <if test="gslxmc != null">
        #{gslxmc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Gslxb">

    update gslxb
    <set>
      <if test="gslxmc != null">
        gslxmc = #{gslxmc,jdbcType=VARCHAR},
      </if>
    </set>
    where gslxbh = #{gslxbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Gslxb">

    update gslxb
    set gslxmc = #{gslxmc,jdbcType=VARCHAR}
    where gslxbh = #{gslxbh,jdbcType=INTEGER}
  </update>
</mapper>