<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.guaporationMapper" >
  <resultMap id="BaseResultMap" type="com.entity.guaporation" >
    <id column="dbgsbh" property="dbgsbh" jdbcType="INTEGER" />
    <result column="dbgsmc" property="dbgsmc" jdbcType="VARCHAR" />
    <result column="dbgsdz" property="dbgsdz" jdbcType="VARCHAR" />
    <result column="lxr" property="lxr" jdbcType="VARCHAR" />
    <result column="lxdh" property="lxdh" jdbcType="VARCHAR" />
    <result column="yqztzs" property="yqztzs" jdbcType="VARCHAR" />
    <result column="cjr" property="cjr" jdbcType="VARCHAR" />
    <result column="cjsj" property="cjsj" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    dbgsbh, dbgsmc, dbgsdz, lxr, lxdh, yqztzs, cjr, cjsj
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from guaporation
    where dbgsbh = #{dbgsbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guaporation
    where dbgsbh = #{dbgsbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.guaporation" >
    insert into guaporation (dbgsbh, dbgsmc, dbgsdz, 
      lxr, lxdh, yqztzs, 
      cjr, cjsj)
    values (#{dbgsbh,jdbcType=INTEGER}, #{dbgsmc,jdbcType=VARCHAR}, #{dbgsdz,jdbcType=VARCHAR}, 
      #{lxr,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, #{yqztzs,jdbcType=VARCHAR}, 
      #{cjr,jdbcType=VARCHAR}, #{cjsj,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.guaporation" >
    insert into guaporation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dbgsbh != null" >
        dbgsbh,
      </if>
      <if test="dbgsmc != null" >
        dbgsmc,
      </if>
      <if test="dbgsdz != null" >
        dbgsdz,
      </if>
      <if test="lxr != null" >
        lxr,
      </if>
      <if test="lxdh != null" >
        lxdh,
      </if>
      <if test="yqztzs != null" >
        yqztzs,
      </if>
      <if test="cjr != null" >
        cjr,
      </if>
      <if test="cjsj != null" >
        cjsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dbgsbh != null" >
        #{dbgsbh,jdbcType=INTEGER},
      </if>
      <if test="dbgsmc != null" >
        #{dbgsmc,jdbcType=VARCHAR},
      </if>
      <if test="dbgsdz != null" >
        #{dbgsdz,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null" >
        #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null" >
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="yqztzs != null" >
        #{yqztzs,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null" >
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.guaporation" >
    update guaporation
    <set >
      <if test="dbgsmc != null" >
        dbgsmc = #{dbgsmc,jdbcType=VARCHAR},
      </if>
      <if test="dbgsdz != null" >
        dbgsdz = #{dbgsdz,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null" >
        lxr = #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null" >
        lxdh = #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="yqztzs != null" >
        yqztzs = #{yqztzs,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null" >
        cjr = #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        cjsj = #{cjsj,jdbcType=DATE},
      </if>
    </set>
    where dbgsbh = #{dbgsbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.guaporation" >
    update guaporation
    set dbgsmc = #{dbgsmc,jdbcType=VARCHAR},
      dbgsdz = #{dbgsdz,jdbcType=VARCHAR},
      lxr = #{lxr,jdbcType=VARCHAR},
      lxdh = #{lxdh,jdbcType=VARCHAR},
      yqztzs = #{yqztzs,jdbcType=VARCHAR},
      cjr = #{cjr,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=DATE}
    where dbgsbh = #{dbgsbh,jdbcType=INTEGER}
  </update>
</mapper>