<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IndividualpayMapper">
<select id="selectSum" parameterType="Integer" resultType="int">
   select COUNT(*) as grjnjszh from individualpay ip join unitinfo uf on ip.UnitInfoAccount=uf.UnitInfoAccount where uf.UnitInfoAccount=#{unitinfoaccount}
  </select>
  <select id="selectBGjce" parameterType="Integer" resultType="map">
     select ip.* from individualpay ip left join unitinfo uf on ip.UnitInfoAccount=uf.UnitInfoAccount where uf.UnitInfoAccount=#{unitinfoaccount}
     
  </select>
  <resultMap id="BaseResultMap" type="com.entity.Individualpay">
    <id column="grzhbhs" jdbcType="INTEGER" property="grzhbhs" />
    <result column="UnitInfoAccount" jdbcType="INTEGER" property="unitinfoaccount" />
    <result column="grzhbh" jdbcType="INTEGER" property="grzhbh" />
    <result column="personalAccount" jdbcType="VARCHAR" property="personalaccount" />
    <result column="certificateType" jdbcType="VARCHAR" property="certificatetype" />
    <result column="IdNo" jdbcType="VARCHAR" property="idno" />
    <result column="personalDepositBase" jdbcType="VARCHAR" property="personaldepositbase" />
    <result column="unitRateDeposit" jdbcType="VARCHAR" property="unitratedeposit" />
    <result column="perContributionRate" jdbcType="VARCHAR" property="percontributionrate" />
    <result column="openAccountStatus" jdbcType="VARCHAR" property="openaccountstatus" />
    <result column="openingDate" jdbcType="VARCHAR" property="openingdate" />
    <result column="perAccountBalance" jdbcType="VARCHAR" property="peraccountbalance" />
    <result column="lastYearLeftBalance" jdbcType="VARCHAR" property="lastyearleftbalance" />
    <result column="thatYearLeftBalance" jdbcType="VARCHAR" property="thatyearleftbalance" />
    <result column="monPayAmount" jdbcType="VARCHAR" property="monpayamount" />
    <result column="unitMonPayAmount" jdbcType="VARCHAR" property="unitmonpayamount" />
    <result column="pinHouseholdsDate" jdbcType="VARCHAR" property="pinhouseholdsdate" />
    <result column="gfbankAccount" jdbcType="DECIMAL" property="gfbankaccount" />
    <result column="bankName" jdbcType="VARCHAR" property="bankname" />
    <result column="bankNameNum" jdbcType="VARCHAR" property="banknamenum" />
    <result column="frozenType" jdbcType="VARCHAR" property="frozentype" />
    <result column="AccumulationRegularly" jdbcType="VARCHAR" property="accumulationregularly" />
    <result column="currentAccumulation" jdbcType="VARCHAR" property="currentaccumulation" />
    <result column="lastYearAccumulationRegularly" jdbcType="VARCHAR" property="lastyearaccumulationregularly" />
    <result column="lastYearcurrentAccumulation" jdbcType="VARCHAR" property="lastyearcurrentaccumulation" />
    <result column="annualInterest" jdbcType="VARCHAR" property="annualinterest" />
    <result column="demandInterest" jdbcType="VARCHAR" property="demandinterest" />
    <result column="annualInterestAnd" jdbcType="VARCHAR" property="annualinterestand" />
    <result column="demandInterestAnd" jdbcType="VARCHAR" property="demandinterestand" />
    <result column="extractThisYear" jdbcType="VARCHAR" property="extractthisyear" />
  </resultMap>
  <sql id="Base_Column_List">
    grzhbhs, UnitInfoAccount, grzhbh, personalAccount, certificateType, IdNo, personalDepositBase, 
    unitRateDeposit, perContributionRate, openAccountStatus, openingDate, perAccountBalance, 
    lastYearLeftBalance, thatYearLeftBalance, monPayAmount, unitMonPayAmount, pinHouseholdsDate, 
    gfbankAccount, bankName, bankNameNum, frozenType, AccumulationRegularly, currentAccumulation, 
    lastYearAccumulationRegularly, lastYearcurrentAccumulation, annualInterest, demandInterest, 
    annualInterestAnd, demandInterestAnd, extractThisYear
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from individualpay
    where grzhbhs = #{grzhbhs,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from individualpay
    where grzhbhs = #{grzhbhs,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Individualpay">
    insert into individualpay (grzhbhs, UnitInfoAccount, grzhbh, 
      personalAccount, certificateType, IdNo, 
      personalDepositBase, unitRateDeposit, perContributionRate, 
      openAccountStatus, openingDate, perAccountBalance, 
      lastYearLeftBalance, thatYearLeftBalance, 
      monPayAmount, unitMonPayAmount, pinHouseholdsDate, 
      gfbankAccount, bankName, bankNameNum, 
      frozenType, AccumulationRegularly, currentAccumulation, 
      lastYearAccumulationRegularly, lastYearcurrentAccumulation, 
      annualInterest, demandInterest, annualInterestAnd, 
      demandInterestAnd, extractThisYear)
    values (#{grzhbhs,jdbcType=INTEGER}, #{unitinfoaccount,jdbcType=INTEGER}, #{grzhbh,jdbcType=INTEGER}, 
      #{personalaccount,jdbcType=VARCHAR}, #{certificatetype,jdbcType=VARCHAR}, #{idno,jdbcType=VARCHAR}, 
      #{personaldepositbase,jdbcType=VARCHAR}, #{unitratedeposit,jdbcType=VARCHAR}, #{percontributionrate,jdbcType=VARCHAR}, 
      #{openaccountstatus,jdbcType=VARCHAR}, #{openingdate,jdbcType=VARCHAR}, #{peraccountbalance,jdbcType=VARCHAR}, 
      #{lastyearleftbalance,jdbcType=VARCHAR}, #{thatyearleftbalance,jdbcType=VARCHAR}, 
      #{monpayamount,jdbcType=VARCHAR}, #{unitmonpayamount,jdbcType=VARCHAR}, #{pinhouseholdsdate,jdbcType=VARCHAR}, 
      #{gfbankaccount,jdbcType=DECIMAL}, #{bankname,jdbcType=VARCHAR}, #{banknamenum,jdbcType=VARCHAR}, 
      #{frozentype,jdbcType=VARCHAR}, #{accumulationregularly,jdbcType=VARCHAR}, #{currentaccumulation,jdbcType=VARCHAR}, 
      #{lastyearaccumulationregularly,jdbcType=VARCHAR}, #{lastyearcurrentaccumulation,jdbcType=VARCHAR}, 
      #{annualinterest,jdbcType=VARCHAR}, #{demandinterest,jdbcType=VARCHAR}, #{annualinterestand,jdbcType=VARCHAR}, 
      #{demandinterestand,jdbcType=VARCHAR}, #{extractthisyear,jdbcType=VARCHAR})
  </insert>
  <!-- 个人开户 -->
  
  <insert id="insertIpayPer" parameterType="map">
   <!-- 拿到新增信息的表主键信息 自增主键order="after" 不自增 order="before"-->
   	<selectKey keyProperty="grzhbhs" order="AFTER" resultType="Integer">
      SELECT LAST_INSERT_ID()
      <!-- select uuid() -->
    </selectKey>
    insert into individualpay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grzhbhs != null and grzhbhs !=''">
        grzhbhs,
      </if>
      <if test="unitinfoaccount != null and unitinfoaccount !=''">
        UnitInfoAccount,
      </if>
      <if test="grzhbh != null and grzhbh !=''">
        grzhbh,
      </if>
      <if test="personalaccount != null and personalaccount !=''">
        personalAccount,
      </if>
      <if test="certificatetype != null and certificatetype !=''">
        certificateType,
      </if>
      <if test="idno != null and idno !=''">
        IdNo,
      </if>
      <if test="personaldepositbase != null and personaldepositbase !=''">
        personalDepositBase,
      </if>
      <if test="unitratedeposit != null and unitratedeposit !=''">
        unitRateDeposit,
      </if>
      <if test="percontributionrate != null and percontributionrate !=''">
        perContributionRate,
      </if>
      <if test="openaccountstatus != null and openaccountstatus !=''">
        openAccountStatus,
      </if>
      <if test="openingdate != null and openingdate !=''">
        openingDate,
      </if>
      <if test="peraccountbalance != null and peraccountbalance !=''">
        perAccountBalance,
      </if>
      <if test="lastyearleftbalance != null and lastyearleftbalance !=''">
        lastYearLeftBalance,
      </if>
      <if test="thatyearleftbalance != null and thatyearleftbalance !=''">
        thatYearLeftBalance,
      </if>
      <if test="monpayamount != null and monpayamount !=''">
        monPayAmount,
      </if>
      <if test="unitmonpayamount != null and unitmonpayamount !=''">
        unitMonPayAmount,
      </if>
      <if test="pinhouseholdsdate != null and pinhouseholdsdate !=''">
        pinHouseholdsDate,
      </if>
      <if test="gfbankaccount != null and gfbankaccount !=''">
        gfbankAccount,
      </if>
      <if test="bankname != null and bankname !=''">
        bankName,
      </if>
      <if test="banknamenum != null and banknamenum !=''">
        bankNameNum,
      </if>
      <if test="frozentype != null and frozentype !=''">
        frozenType,
      </if>
      <if test="accumulationregularly != null and accumulationregularly !=''">
        AccumulationRegularly,
      </if>
      <if test="currentaccumulation != null and currentaccumulation !=''">
        currentAccumulation,
      </if>
      <if test="lastyearaccumulationregularly != null and lastyearaccumulationregularly !=''">
        lastYearAccumulationRegularly,
      </if>
      <if test="lastyearcurrentaccumulation != null and lastyearcurrentaccumulation !=''">
        lastYearcurrentAccumulation,
      </if>
      <if test="annualinterest != null and annualinterest !=''">
        annualInterest,
      </if>
      <if test="demandinterest != null and demandinterest !=''">
        demandInterest,
      </if>
      <if test="annualinterestand != null and annualinterestand !=''">
        annualInterestAnd,
      </if>
      <if test="demandinterestand != null and demandinterestand !=''">
        demandInterestAnd,
      </if>
      <if test="extractthisyear != null and extractthisyear !=''">
        extractThisYear,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="grzhbhs != null and grzhbhs !=''">
        #{grzhbhs,jdbcType=INTEGER},
      </if>
      <if test="unitinfoaccount != null and unitinfoaccount !=''">
        #{unitinfoaccount,jdbcType=INTEGER},
      </if>
      <if test="grzhbh != null and grzhbh !=''">
        #{grzhbh,jdbcType=INTEGER},
      </if>
      <if test="personalaccount != null and personalaccount !=''">
        #{personalaccount,jdbcType=VARCHAR},
      </if>
      <if test="certificatetype != null and certificatetype !=''">
        #{certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="idno != null and idno !=''">
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="personaldepositbase != null and personaldepositbase !=''">
        #{personaldepositbase,jdbcType=VARCHAR},
      </if>
      <if test="unitratedeposit != null and unitratedeposit !=''">
        #{unitratedeposit,jdbcType=VARCHAR},
      </if>
      <if test="percontributionrate != null and percontributionrate !=''">
        #{percontributionrate,jdbcType=VARCHAR},
      </if>
      <if test="openaccountstatus != null and openaccountstatus !=''">
        #{openaccountstatus,jdbcType=VARCHAR},
      </if>
      <if test="openingdate != null and openingdate !=''">
        #{openingdate,jdbcType=VARCHAR},
      </if>
      <if test="peraccountbalance != null and peraccountbalance !=''">
        #{peraccountbalance,jdbcType=VARCHAR},
      </if>
      <if test="lastyearleftbalance != null and lastyearleftbalance !=''">
        #{lastyearleftbalance,jdbcType=VARCHAR},
      </if>
      <if test="thatyearleftbalance != null and thatyearleftbalance !=''">
        #{thatyearleftbalance,jdbcType=VARCHAR},
      </if>
      <if test="monpayamount != null and monpayamount !=''">
        #{monpayamount,jdbcType=VARCHAR},
      </if>
      <if test="unitmonpayamount != null and unitmonpayamount !=''">
        #{unitmonpayamount,jdbcType=VARCHAR},
      </if>
      <if test="pinhouseholdsdate != null and pinhouseholdsdate !=''">
        #{pinhouseholdsdate,jdbcType=VARCHAR},
      </if>
      <if test="gfbankaccount != null and gfbankaccount !=''">
        #{gfbankaccount,jdbcType=DECIMAL},
      </if>
      <if test="bankname != null and bankname !=''">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banknamenum != null and banknamenum !=''">
        #{banknamenum,jdbcType=VARCHAR},
      </if>
      <if test="frozentype != null and frozentype !=''">
        #{frozentype,jdbcType=VARCHAR},
      </if>
      <if test="accumulationregularly != null and accumulationregularly !=''">
        #{accumulationregularly,jdbcType=VARCHAR},
      </if>
      <if test="currentaccumulation != null and currentaccumulation !=''">
        #{currentaccumulation,jdbcType=VARCHAR},
      </if>
      <if test="lastyearaccumulationregularly != null and lastyearaccumulationregularly !=''">
        #{lastyearaccumulationregularly,jdbcType=VARCHAR},
      </if>
      <if test="lastyearcurrentaccumulation != null and lastyearcurrentaccumulation !=''">
        #{lastyearcurrentaccumulation,jdbcType=VARCHAR},
      </if>
      <if test="annualinterest != null and annualinterest !=''">
        #{annualinterest,jdbcType=VARCHAR},
      </if>
      <if test="demandinterest != null and demandinterest !=''">
        #{demandinterest,jdbcType=VARCHAR},
      </if>
      <if test="annualinterestand != null and annualinterestand !=''">
        #{annualinterestand,jdbcType=VARCHAR},
      </if>
      <if test="demandinterestand != null and demandinterestand !=''">
        #{demandinterestand,jdbcType=VARCHAR},
      </if>
      <if test="extractthisyear != null and extractthisyear !=''">
        #{extractthisyear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Individualpay">
    update individualpay
    <set>
      <if test="unitinfoaccount != null">
        UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER},
      </if>
      <if test="grzhbh != null">
        grzhbh = #{grzhbh,jdbcType=INTEGER},
      </if>
      <if test="personalaccount != null">
        personalAccount = #{personalaccount,jdbcType=VARCHAR},
      </if>
      <if test="certificatetype != null">
        certificateType = #{certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="idno != null">
        IdNo = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="personaldepositbase != null">
        personalDepositBase = #{personaldepositbase,jdbcType=VARCHAR},
      </if>
      <if test="unitratedeposit != null">
        unitRateDeposit = #{unitratedeposit,jdbcType=VARCHAR},
      </if>
      <if test="percontributionrate != null">
        perContributionRate = #{percontributionrate,jdbcType=VARCHAR},
      </if>
      <if test="openaccountstatus != null">
        openAccountStatus = #{openaccountstatus,jdbcType=VARCHAR},
      </if>
      <if test="openingdate != null">
        openingDate = #{openingdate,jdbcType=VARCHAR},
      </if>
      <if test="peraccountbalance != null">
        perAccountBalance = #{peraccountbalance,jdbcType=VARCHAR},
      </if>
      <if test="lastyearleftbalance != null">
        lastYearLeftBalance = #{lastyearleftbalance,jdbcType=VARCHAR},
      </if>
      <if test="thatyearleftbalance != null">
        thatYearLeftBalance = #{thatyearleftbalance,jdbcType=VARCHAR},
      </if>
      <if test="monpayamount != null">
        monPayAmount = #{monpayamount,jdbcType=VARCHAR},
      </if>
      <if test="unitmonpayamount != null">
        unitMonPayAmount = #{unitmonpayamount,jdbcType=VARCHAR},
      </if>
      <if test="pinhouseholdsdate != null">
        pinHouseholdsDate = #{pinhouseholdsdate,jdbcType=VARCHAR},
      </if>
      <if test="gfbankaccount != null">
        gfbankAccount = #{gfbankaccount,jdbcType=DECIMAL},
      </if>
      <if test="bankname != null">
        bankName = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banknamenum != null">
        bankNameNum = #{banknamenum,jdbcType=VARCHAR},
      </if>
      <if test="frozentype != null">
        frozenType = #{frozentype,jdbcType=VARCHAR},
      </if>
      <if test="accumulationregularly != null">
        AccumulationRegularly = #{accumulationregularly,jdbcType=VARCHAR},
      </if>
      <if test="currentaccumulation != null">
        currentAccumulation = #{currentaccumulation,jdbcType=VARCHAR},
      </if>
      <if test="lastyearaccumulationregularly != null">
        lastYearAccumulationRegularly = #{lastyearaccumulationregularly,jdbcType=VARCHAR},
      </if>
      <if test="lastyearcurrentaccumulation != null">
        lastYearcurrentAccumulation = #{lastyearcurrentaccumulation,jdbcType=VARCHAR},
      </if>
      <if test="annualinterest != null">
        annualInterest = #{annualinterest,jdbcType=VARCHAR},
      </if>
      <if test="demandinterest != null">
        demandInterest = #{demandinterest,jdbcType=VARCHAR},
      </if>
      <if test="annualinterestand != null">
        annualInterestAnd = #{annualinterestand,jdbcType=VARCHAR},
      </if>
      <if test="demandinterestand != null">
        demandInterestAnd = #{demandinterestand,jdbcType=VARCHAR},
      </if>
      <if test="extractthisyear != null">
        extractThisYear = #{extractthisyear,jdbcType=VARCHAR},
      </if>
    </set>
    where grzhbhs = #{grzhbhs,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Individualpay">
    update individualpay
    set UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER},
      grzhbh = #{grzhbh,jdbcType=INTEGER},
      personalAccount = #{personalaccount,jdbcType=VARCHAR},
      certificateType = #{certificatetype,jdbcType=VARCHAR},
      IdNo = #{idno,jdbcType=VARCHAR},
      personalDepositBase = #{personaldepositbase,jdbcType=VARCHAR},
      unitRateDeposit = #{unitratedeposit,jdbcType=VARCHAR},
      perContributionRate = #{percontributionrate,jdbcType=VARCHAR},
      openAccountStatus = #{openaccountstatus,jdbcType=VARCHAR},
      openingDate = #{openingdate,jdbcType=VARCHAR},
      perAccountBalance = #{peraccountbalance,jdbcType=VARCHAR},
      lastYearLeftBalance = #{lastyearleftbalance,jdbcType=VARCHAR},
      thatYearLeftBalance = #{thatyearleftbalance,jdbcType=VARCHAR},
      monPayAmount = #{monpayamount,jdbcType=VARCHAR},
      unitMonPayAmount = #{unitmonpayamount,jdbcType=VARCHAR},
      pinHouseholdsDate = #{pinhouseholdsdate,jdbcType=VARCHAR},
      gfbankAccount = #{gfbankaccount,jdbcType=DECIMAL},
      bankName = #{bankname,jdbcType=VARCHAR},
      bankNameNum = #{banknamenum,jdbcType=VARCHAR},
      frozenType = #{frozentype,jdbcType=VARCHAR},
      AccumulationRegularly = #{accumulationregularly,jdbcType=VARCHAR},
      currentAccumulation = #{currentaccumulation,jdbcType=VARCHAR},
      lastYearAccumulationRegularly = #{lastyearaccumulationregularly,jdbcType=VARCHAR},
      lastYearcurrentAccumulation = #{lastyearcurrentaccumulation,jdbcType=VARCHAR},
      annualInterest = #{annualinterest,jdbcType=VARCHAR},
      demandInterest = #{demandinterest,jdbcType=VARCHAR},
      annualInterestAnd = #{annualinterestand,jdbcType=VARCHAR},
      demandInterestAnd = #{demandinterestand,jdbcType=VARCHAR},
      extractThisYear = #{extractthisyear,jdbcType=VARCHAR}
    where grzhbhs = #{grzhbhs,jdbcType=INTEGER}
  </update>
</mapper>