<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.jym_PeraccountMapper" >

 <insert id="insert" parameterType="com.entity.Peraccount" >
    insert into peraccount(unitinfoid,bkname,
    idtype,
    idnumbers,
    phonenum,
    email,
    peracid,
    peracloginpw)
    values (#{unitinfoid},#{bkname},#{idtype},#{idnumbers},#{phonenum},#{email},#{peracid},#{peracloginpw})
     
  </insert> 
  <select id="selectPeraccount"  resultType="java.util.Map">
  select p.bkname,p.idnumbers,p.phonenum,u.unitinfoname,u.unitinfocredit,u.unitinfoid  from peraccount p join unitinfo u on p.unitinfoid=u.unitinfoid where p.peracid=#{peracid} and p.peracloginpw=#{peracloginpw}
  </select>
  
  
</mapper>