<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PeraccountMapper">
  <resultMap id="BaseResultMap" type="com.entity.Peraccount">
    <id column="grzhbh" jdbcType="INTEGER" property="grzhbh" />
    <result column="zhztbh" jdbcType="INTEGER" property="zhztbh" />
    <result column="UnitpositionId" jdbcType="INTEGER" property="unitpositionid" />
    <result column="UnitInfoId" jdbcType="INTEGER" property="unitinfoid" />
    <result column="netinfoId" jdbcType="INTEGER" property="netinfoid" />
    <result column="peracId" jdbcType="VARCHAR" property="peracid" />
    <result column="peracloginpw" jdbcType="VARCHAR" property="peracloginpw" />
    <result column="peracTransactionpw" jdbcType="VARCHAR" property="peractransactionpw" />
    <result column="peracBalance" jdbcType="DECIMAL" property="peracbalance" />
    <result column="peracUpdatestatus" jdbcType="VARCHAR" property="peracupdatestatus" />
    <result column="bkname" jdbcType="VARCHAR" property="bkname" />
    <result column="bksex" jdbcType="VARCHAR" property="bksex" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phonenum" />
    <result column="IdType" jdbcType="VARCHAR" property="idtype" />
    <result column="IdNumbers" jdbcType="VARCHAR" property="idnumbers" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="marital" jdbcType="VARCHAR" property="marital" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="monthlyProfit" jdbcType="DECIMAL" property="monthlyprofit" />
  </resultMap>
  <sql id="Base_Column_List">
    grzhbh, zhztbh, UnitpositionId, UnitInfoId, netinfoId, peracId, peracloginpw, peracTransactionpw, 
    peracBalance, peracUpdatestatus, bkname, bksex, phoneNum, IdType, IdNumbers, birthday, 
    marital, education, email, postcode, address, monthlyProfit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from peraccount
    where grzhbh = #{grzhbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from peraccount
    where grzhbh = #{grzhbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Peraccount">
    insert into peraccount (grzhbh, zhztbh, UnitpositionId, 
      UnitInfoId, netinfoId, peracId, 
      peracloginpw, peracTransactionpw, peracBalance, 
      peracUpdatestatus, bkname, bksex, 
      phoneNum, IdType, IdNumbers, 
      birthday, marital, education, 
      email, postcode, address, 
      monthlyProfit)
    values (#{grzhbh,jdbcType=INTEGER}, #{zhztbh,jdbcType=INTEGER}, #{unitpositionid,jdbcType=INTEGER}, 
      #{unitinfoid,jdbcType=INTEGER}, #{netinfoid,jdbcType=INTEGER}, #{peracid,jdbcType=VARCHAR}, 
      #{peracloginpw,jdbcType=VARCHAR}, #{peractransactionpw,jdbcType=VARCHAR}, #{peracbalance,jdbcType=DECIMAL}, 
      #{peracupdatestatus,jdbcType=VARCHAR}, #{bkname,jdbcType=VARCHAR}, #{bksex,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=VARCHAR}, #{idtype,jdbcType=VARCHAR}, #{idnumbers,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{marital,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{monthlyprofit,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Peraccount">
    insert into peraccount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grzhbh != null">
        grzhbh,
      </if>
      <if test="zhztbh != null">
        zhztbh,
      </if>
      <if test="unitpositionid != null">
        UnitpositionId,
      </if>
      <if test="unitinfoid != null">
        UnitInfoId,
      </if>
      <if test="netinfoid != null">
        netinfoId,
      </if>
      <if test="peracid != null">
        peracId,
      </if>
      <if test="peracloginpw != null">
        peracloginpw,
      </if>
      <if test="peractransactionpw != null">
        peracTransactionpw,
      </if>
      <if test="peracbalance != null">
        peracBalance,
      </if>
      <if test="peracupdatestatus != null">
        peracUpdatestatus,
      </if>
      <if test="bkname != null">
        bkname,
      </if>
      <if test="bksex != null">
        bksex,
      </if>
      <if test="phonenum != null">
        phoneNum,
      </if>
      <if test="idtype != null">
        IdType,
      </if>
      <if test="idnumbers != null">
        IdNumbers,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="marital != null">
        marital,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="monthlyprofit != null">
        monthlyProfit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="grzhbh != null">
        #{grzhbh,jdbcType=INTEGER},
      </if>
      <if test="zhztbh != null">
        #{zhztbh,jdbcType=INTEGER},
      </if>
      <if test="unitpositionid != null">
        #{unitpositionid,jdbcType=INTEGER},
      </if>
      <if test="unitinfoid != null">
        #{unitinfoid,jdbcType=INTEGER},
      </if>
      <if test="netinfoid != null">
        #{netinfoid,jdbcType=INTEGER},
      </if>
      <if test="peracid != null">
        #{peracid,jdbcType=VARCHAR},
      </if>
      <if test="peracloginpw != null">
        #{peracloginpw,jdbcType=VARCHAR},
      </if>
      <if test="peractransactionpw != null">
        #{peractransactionpw,jdbcType=VARCHAR},
      </if>
      <if test="peracbalance != null">
        #{peracbalance,jdbcType=DECIMAL},
      </if>
      <if test="peracupdatestatus != null">
        #{peracupdatestatus,jdbcType=VARCHAR},
      </if>
      <if test="bkname != null">
        #{bkname,jdbcType=VARCHAR},
      </if>
      <if test="bksex != null">
        #{bksex,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="idtype != null">
        #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="idnumbers != null">
        #{idnumbers,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="marital != null">
        #{marital,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="monthlyprofit != null">
        #{monthlyprofit,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Peraccount">
    update peraccount
    <set>
      <if test="zhztbh != null">
        zhztbh = #{zhztbh,jdbcType=INTEGER},
      </if>
      <if test="unitpositionid != null">
        UnitpositionId = #{unitpositionid,jdbcType=INTEGER},
      </if>
      <if test="unitinfoid != null">
        UnitInfoId = #{unitinfoid,jdbcType=INTEGER},
      </if>
      <if test="netinfoid != null">
        netinfoId = #{netinfoid,jdbcType=INTEGER},
      </if>
      <if test="peracid != null">
        peracId = #{peracid,jdbcType=VARCHAR},
      </if>
      <if test="peracloginpw != null">
        peracloginpw = #{peracloginpw,jdbcType=VARCHAR},
      </if>
      <if test="peractransactionpw != null">
        peracTransactionpw = #{peractransactionpw,jdbcType=VARCHAR},
      </if>
      <if test="peracbalance != null">
        peracBalance = #{peracbalance,jdbcType=DECIMAL},
      </if>
      <if test="peracupdatestatus != null">
        peracUpdatestatus = #{peracupdatestatus,jdbcType=VARCHAR},
      </if>
      <if test="bkname != null">
        bkname = #{bkname,jdbcType=VARCHAR},
      </if>
      <if test="bksex != null">
        bksex = #{bksex,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        phoneNum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="idtype != null">
        IdType = #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="idnumbers != null">
        IdNumbers = #{idnumbers,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="marital != null">
        marital = #{marital,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="monthlyprofit != null">
        monthlyProfit = #{monthlyprofit,jdbcType=DECIMAL},
      </if>
    </set>
    where grzhbh = #{grzhbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Peraccount">
    update peraccount
    set zhztbh = #{zhztbh,jdbcType=INTEGER},
      UnitpositionId = #{unitpositionid,jdbcType=INTEGER},
      UnitInfoId = #{unitinfoid,jdbcType=INTEGER},
      netinfoId = #{netinfoid,jdbcType=INTEGER},
      peracId = #{peracid,jdbcType=VARCHAR},
      peracloginpw = #{peracloginpw,jdbcType=VARCHAR},
      peracTransactionpw = #{peractransactionpw,jdbcType=VARCHAR},
      peracBalance = #{peracbalance,jdbcType=DECIMAL},
      peracUpdatestatus = #{peracupdatestatus,jdbcType=VARCHAR},
      bkname = #{bkname,jdbcType=VARCHAR},
      bksex = #{bksex,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      IdType = #{idtype,jdbcType=VARCHAR},
      IdNumbers = #{idnumbers,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      marital = #{marital,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      monthlyProfit = #{monthlyprofit,jdbcType=DECIMAL}
    where grzhbh = #{grzhbh,jdbcType=INTEGER}
  </update>
</mapper>