<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PerbusinessMapper">
  <resultMap id="BaseResultMap" type="com.entity.Perbusiness">
    <id column="perbuid" jdbcType="INTEGER" property="perbuid" />
    <result column="grzhbhs" jdbcType="INTEGER" property="grzhbhs" />
    <result column="netinfoId" jdbcType="INTEGER" property="netinfoid" />
    <result column="grzhbh" jdbcType="INTEGER" property="grzhbh" />
    <result column="grpersonIds" jdbcType="VARCHAR" property="grpersonids" />
    <result column="grperbuTime" jdbcType="DATE" property="grperbutime" />
    <result column="grperbuType" jdbcType="VARCHAR" property="grperbutype" />
    <result column="perbuLimit" jdbcType="DECIMAL" property="perbulimit" />
    <result column="retrievingMeans" jdbcType="VARCHAR" property="retrievingmeans" />
    <result column="grapprovalStatuss" jdbcType="VARCHAR" property="grapprovalstatuss" />
    <result column="SettlementStatus" jdbcType="VARCHAR" property="settlementstatus" />
    <result column="strike" jdbcType="VARCHAR" property="strike" />
    <result column="unitAdvancep" jdbcType="DECIMAL" property="unitadvancep" />
    <result column="personAdvancep" jdbcType="DECIMAL" property="personadvancep" />
    <result column="bglx" jdbcType="VARCHAR" property="bglx" />
  </resultMap>
  <sql id="Base_Column_List">
    perbuid, grzhbhs, netinfoId, grzhbh, grpersonIds, grperbuTime, grperbuType, perbuLimit, 
    retrievingMeans, grapprovalStatuss, SettlementStatus, strike, unitAdvancep, personAdvancep, 
    bglx
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from perbusiness
    where perbuid = #{perbuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from perbusiness
    where perbuid = #{perbuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Perbusiness">
    insert into perbusiness (perbuid, grzhbhs, netinfoId, 
      grzhbh, grpersonIds, grperbuTime, 
      grperbuType, perbuLimit, retrievingMeans, 
      grapprovalStatuss, SettlementStatus, strike, 
      unitAdvancep, personAdvancep, bglx
      )
    values (#{perbuid,jdbcType=INTEGER}, #{grzhbhs,jdbcType=INTEGER}, #{netinfoid,jdbcType=INTEGER}, 
      #{grzhbh,jdbcType=INTEGER}, #{grpersonids,jdbcType=VARCHAR}, #{grperbutime,jdbcType=DATE}, 
      #{grperbutype,jdbcType=VARCHAR}, #{perbulimit,jdbcType=DECIMAL}, #{retrievingmeans,jdbcType=VARCHAR}, 
      #{grapprovalstatuss,jdbcType=VARCHAR}, #{settlementstatus,jdbcType=VARCHAR}, #{strike,jdbcType=VARCHAR}, 
      #{unitadvancep,jdbcType=DECIMAL}, #{personadvancep,jdbcType=DECIMAL}, #{bglx,jdbcType=VARCHAR}
      )
  </insert>
  <!--添加明细  -->
  <insert id="insertSelective" parameterType="com.entity.Perbusiness">
    insert into perbusiness
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="perbuid != null">
        perbuid,
      </if>
      <if test="grzhbhs != null">
        grzhbhs,
      </if>
      <if test="netinfoid != null">
        netinfoId,
      </if>
      <if test="grzhbh != null">
        grzhbh,
      </if>
      <if test="grpersonids != null">
        grpersonIds,
      </if>
      <if test="grperbutime != null">
        grperbuTime,
      </if>
      <if test="grperbutype != null">
        grperbuType,
      </if>
      <if test="perbulimit != null">
        perbuLimit,
      </if>
      <if test="retrievingmeans != null">
        retrievingMeans,
      </if>
      <if test="grapprovalstatuss != null">
        grapprovalStatuss,
      </if>
      <if test="settlementstatus != null">
        SettlementStatus,
      </if>
      <if test="strike != null">
        strike,
      </if>
      <if test="unitadvancep != null">
        unitAdvancep,
      </if>
      <if test="personadvancep != null">
        personAdvancep,
      </if>
      <if test="bglx != null">
        bglx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="perbuid != null">
        #{perbuid,jdbcType=INTEGER},
      </if>
      <if test="grzhbhs != null">
        #{grzhbhs,jdbcType=INTEGER},
      </if>
      <if test="netinfoid != null">
        #{netinfoid,jdbcType=INTEGER},
      </if>
      <if test="grzhbh != null">
        #{grzhbh,jdbcType=INTEGER},
      </if>
      <if test="grpersonids != null">
        #{grpersonids,jdbcType=VARCHAR},
      </if>
      <if test="grperbutime != null">
        #{grperbutime,jdbcType=DATE},
      </if>
      <if test="grperbutype != null">
        #{grperbutype,jdbcType=VARCHAR},
      </if>
      <if test="perbulimit != null">
        #{perbulimit,jdbcType=DECIMAL},
      </if>
      <if test="retrievingmeans != null">
        #{retrievingmeans,jdbcType=VARCHAR},
      </if>
      <if test="grapprovalstatuss != null">
        #{grapprovalstatuss,jdbcType=VARCHAR},
      </if>
      <if test="settlementstatus != null">
        #{settlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="strike != null">
        #{strike,jdbcType=VARCHAR},
      </if>
      <if test="unitadvancep != null">
        #{unitadvancep,jdbcType=DECIMAL},
      </if>
      <if test="personadvancep != null">
        #{personadvancep,jdbcType=DECIMAL},
      </if>
      <if test="bglx != null">
        #{bglx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Perbusiness">
    update perbusiness
    <set>
      <if test="grzhbhs != null">
        grzhbhs = #{grzhbhs,jdbcType=INTEGER},
      </if>
      <if test="netinfoid != null">
        netinfoId = #{netinfoid,jdbcType=INTEGER},
      </if>
      <if test="grzhbh != null">
        grzhbh = #{grzhbh,jdbcType=INTEGER},
      </if>
      <if test="grpersonids != null">
        grpersonIds = #{grpersonids,jdbcType=VARCHAR},
      </if>
      <if test="grperbutime != null">
        grperbuTime = #{grperbutime,jdbcType=DATE},
      </if>
      <if test="grperbutype != null">
        grperbuType = #{grperbutype,jdbcType=VARCHAR},
      </if>
      <if test="perbulimit != null">
        perbuLimit = #{perbulimit,jdbcType=DECIMAL},
      </if>
      <if test="retrievingmeans != null">
        retrievingMeans = #{retrievingmeans,jdbcType=VARCHAR},
      </if>
      <if test="grapprovalstatuss != null">
        grapprovalStatuss = #{grapprovalstatuss,jdbcType=VARCHAR},
      </if>
      <if test="settlementstatus != null">
        SettlementStatus = #{settlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="strike != null">
        strike = #{strike,jdbcType=VARCHAR},
      </if>
      <if test="unitadvancep != null">
        unitAdvancep = #{unitadvancep,jdbcType=DECIMAL},
      </if>
      <if test="personadvancep != null">
        personAdvancep = #{personadvancep,jdbcType=DECIMAL},
      </if>
      <if test="bglx != null">
        bglx = #{bglx,jdbcType=VARCHAR},
      </if>
    </set>
    where perbuid = #{perbuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Perbusiness">
    update perbusiness
    set grzhbhs = #{grzhbhs,jdbcType=INTEGER},
      netinfoId = #{netinfoid,jdbcType=INTEGER},
      grzhbh = #{grzhbh,jdbcType=INTEGER},
      grpersonIds = #{grpersonids,jdbcType=VARCHAR},
      grperbuTime = #{grperbutime,jdbcType=DATE},
      grperbuType = #{grperbutype,jdbcType=VARCHAR},
      perbuLimit = #{perbulimit,jdbcType=DECIMAL},
      retrievingMeans = #{retrievingmeans,jdbcType=VARCHAR},
      grapprovalStatuss = #{grapprovalstatuss,jdbcType=VARCHAR},
      SettlementStatus = #{settlementstatus,jdbcType=VARCHAR},
      strike = #{strike,jdbcType=VARCHAR},
      unitAdvancep = #{unitadvancep,jdbcType=DECIMAL},
      personAdvancep = #{personadvancep,jdbcType=DECIMAL},
      bglx = #{bglx,jdbcType=VARCHAR}
    where perbuid = #{perbuid,jdbcType=INTEGER}
  </update>
</mapper>