<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ryzyMapper">
  <resultMap id="BaseResultMap" type="com.entity.ryzy">
    <id column="zyid" jdbcType="INTEGER" property="zyid" />
    <result column="ydw" jdbcType="INTEGER" property="ydw" />
    <result column="xdw" jdbcType="INTEGER" property="xdw" />
    <result column="sqr" jdbcType="INTEGER" property="sqr" />
    <result column="zcstyh" jdbcType="VARCHAR" property="zcstyh" />
    <result column="zrstyh" jdbcType="VARCHAR" property="zrstyh" />
    <result column="sqsj" jdbcType="DATE" property="sqsj" />
    <result column="zyyy" jdbcType="VARCHAR" property="zyyy" />
    <result column="tjsj" jdbcType="TIMESTAMP" property="tjsj" />
    <result column="shzt" jdbcType="INTEGER" property="shzt" />
    <result column="bhyy" jdbcType="VARCHAR" property="bhyy" />
  </resultMap>
  <sql id="Base_Column_List">
    zyid, ydw, xdw, sqr, zcstyh, zrstyh, sqsj, zyyy, tjsj, shzt, bhyy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ryzy
    where zyid = #{zyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ryzy
    where zyid = #{zyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.ryzy">
    insert into ryzy (zyid, ydw, xdw, 
      sqr, zcstyh, zrstyh, 
      sqsj, zyyy, tjsj, shzt, 
      bhyy)
    values (#{zyid,jdbcType=INTEGER}, #{ydw,jdbcType=INTEGER}, #{xdw,jdbcType=INTEGER}, 
      #{sqr,jdbcType=INTEGER}, #{zcstyh,jdbcType=VARCHAR}, #{zrstyh,jdbcType=VARCHAR}, 
      #{sqsj,jdbcType=DATE}, #{zyyy,jdbcType=VARCHAR}, #{tjsj,jdbcType=TIMESTAMP}, #{shzt,jdbcType=INTEGER}, 
      #{bhyy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.ryzy">
    insert into ryzy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zyid != null">
        zyid,
      </if>
      <if test="ydw != null">
        ydw,
      </if>
      <if test="xdw != null">
        xdw,
      </if>
      <if test="sqr != null">
        sqr,
      </if>
      <if test="zcstyh != null">
        zcstyh,
      </if>
      <if test="zrstyh != null">
        zrstyh,
      </if>
      <if test="sqsj != null">
        sqsj,
      </if>
      <if test="zyyy != null">
        zyyy,
      </if>
      <if test="tjsj != null">
        tjsj,
      </if>
      <if test="shzt != null">
        shzt,
      </if>
      <if test="bhyy != null">
        bhyy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zyid != null">
        #{zyid,jdbcType=INTEGER},
      </if>
      <if test="ydw != null">
        #{ydw,jdbcType=INTEGER},
      </if>
      <if test="xdw != null">
        #{xdw,jdbcType=INTEGER},
      </if>
      <if test="sqr != null">
        #{sqr,jdbcType=INTEGER},
      </if>
      <if test="zcstyh != null">
        #{zcstyh,jdbcType=VARCHAR},
      </if>
      <if test="zrstyh != null">
        #{zrstyh,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null">
        #{sqsj,jdbcType=DATE},
      </if>
      <if test="zyyy != null">
        #{zyyy,jdbcType=VARCHAR},
      </if>
      <if test="tjsj != null">
        #{tjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shzt != null">
        #{shzt,jdbcType=INTEGER},
      </if>
      <if test="bhyy != null">
        #{bhyy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.ryzy">
    update ryzy
    <set>
      <if test="ydw != null">
        ydw = #{ydw,jdbcType=INTEGER},
      </if>
      <if test="xdw != null">
        xdw = #{xdw,jdbcType=INTEGER},
      </if>
      <if test="sqr != null">
        sqr = #{sqr,jdbcType=INTEGER},
      </if>
      <if test="zcstyh != null">
        zcstyh = #{zcstyh,jdbcType=VARCHAR},
      </if>
      <if test="zrstyh != null">
        zrstyh = #{zrstyh,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null">
        sqsj = #{sqsj,jdbcType=DATE},
      </if>
      <if test="zyyy != null">
        zyyy = #{zyyy,jdbcType=VARCHAR},
      </if>
      <if test="tjsj != null">
        tjsj = #{tjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shzt != null">
        shzt = #{shzt,jdbcType=INTEGER},
      </if>
      <if test="bhyy != null">
        bhyy = #{bhyy,jdbcType=VARCHAR},
      </if>
    </set>
    where zyid = #{zyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.ryzy">
    update ryzy
    set ydw = #{ydw,jdbcType=INTEGER},
      xdw = #{xdw,jdbcType=INTEGER},
      sqr = #{sqr,jdbcType=INTEGER},
      zcstyh = #{zcstyh,jdbcType=VARCHAR},
      zrstyh = #{zrstyh,jdbcType=VARCHAR},
      sqsj = #{sqsj,jdbcType=DATE},
      zyyy = #{zyyy,jdbcType=VARCHAR},
      tjsj = #{tjsj,jdbcType=TIMESTAMP},
      shzt = #{shzt,jdbcType=INTEGER},
      bhyy = #{bhyy,jdbcType=VARCHAR}
    where zyid = #{zyid,jdbcType=INTEGER}
  </update>
  <select id="queryapply" resultType="map" parameterType="map">
  	select * from ryzy r join shzt s on r.shzt=s.shbh join peraccount p on r.sqr=p.grzhbh where shzt=1
  	limit #{startIndex},#{pageSize}
  </select>
  <select id="queryapplycount" resultType="Integer">
  	select count(*) from ryzy r join shzt s on r.shzt=s.shbh join peraccount p on r.sqr=p.grzhbh where shzt=1
  </select>
  <select id="queryryzysh" parameterType="map" resultType="map">
  	select r.*,p.bkname,p.peracId,u1.UnitInfoName,u2.UnitInfoName as toUnitinfoNamme,s.shxq from ryzy r join peraccount p on r.sqr=p.grzhbh join unitinfo u1 on r.ydw=u1.UnitInfoId join unitinfo u2 on r.xdw=u2.UnitInfoId join shzt s on r.shzt=s.shbh where r.shzt=1 
  	limit #{startIndex},#{pageSize}
  </select>
  <select id="queryryzyshcount" resultType="Integer">
  	select count(*) from ryzy r join peraccount p on r.sqr=p.grzhbh join unitinfo u1 on r.ydw=u1.UnitInfoId join unitinfo u2 on r.xdw=u2.UnitInfoId join shzt s on r.shzt=s.shbh 
  </select>
</mapper>