<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ShztMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Shzt" >
    <id column="shbh" property="shbh" jdbcType="INTEGER" />
    <result column="shxq" property="shxq" jdbcType="VARCHAR" />
    <result column="驳回原因" property="驳回原因" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    shbh, shxq, 驳回原因
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shzt
    where shbh = #{shbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shzt
    where shbh = #{shbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Shzt" >
    insert into shzt (shbh, shxq, 驳回原因
      )
    values (#{shbh,jdbcType=INTEGER}, #{shxq,jdbcType=VARCHAR}, #{驳回原因,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shzt" >
    insert into shzt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shbh != null" >
        shbh,
      </if>
      <if test="shxq != null" >
        shxq,
      </if>
      <if test="驳回原因 != null" >
        驳回原因,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shbh != null" >
        #{shbh,jdbcType=INTEGER},
      </if>
      <if test="shxq != null" >
        #{shxq,jdbcType=VARCHAR},
      </if>
      <if test="驳回原因 != null" >
        #{驳回原因,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shzt" >
    update shzt
    <set >
      <if test="shxq != null" >
        shxq = #{shxq,jdbcType=VARCHAR},
      </if>
      <if test="驳回原因 != null" >
        驳回原因 = #{驳回原因,jdbcType=VARCHAR},
      </if>
    </set>
    where shbh = #{shbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Shzt" >
    update shzt
    set shxq = #{shxq,jdbcType=VARCHAR},
      驳回原因 = #{驳回原因,jdbcType=VARCHAR}
    where shbh = #{shbh,jdbcType=INTEGER}
  </update>
</mapper>