<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UnitsaccountMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Unitsaccount" >
    <id column="UnitInfoAccount" property="unitinfoaccount" jdbcType="INTEGER" />
    <result column="UnitInfoId" property="unitinfoid" jdbcType="INTEGER" />
    <result column="UnitsName" property="unitsname" jdbcType="VARCHAR" />
    <result column="UnitsDepositRatio" property="unitsdepositratio" jdbcType="VARCHAR" />
    <result column="UnitsIndividua" property="unitsindividua" jdbcType="VARCHAR" />
    <result column="UnitsDeposite" property="unitsdeposite" jdbcType="DECIMAL" />
    <result column="UnitsArchive" property="unitsarchive" jdbcType="DECIMAL" />
    <result column="UnitsBalance" property="unitsbalance" jdbcType="DECIMAL" />
    <result column="nitsCancelDate" property="nitscanceldate" jdbcType="VARCHAR" />
    <result column="UnitesCancelCause" property="unitescancelcause" jdbcType="VARCHAR" />
    <result column="UnitesState" property="unitesstate" jdbcType="VARCHAR" />
    <result column="UnitesPaiduntil" property="unitespaiduntil" jdbcType="VARCHAR" />
    <result column="UnitesArrearsMoney" property="unitesarrearsmoney" jdbcType="VARCHAR" />
    <result column="UnitesArrearsMonths" property="unitesarrearsmonths" jdbcType="VARCHAR" />
    <result column="Unitesdeposit" property="unitesdeposit" jdbcType="VARCHAR" />
    <result column="UnitesUsername" property="unitesusername" jdbcType="VARCHAR" />
    <result column="UnitesAccount" property="unitesaccount" jdbcType="VARCHAR" />
    <result column="UnitesTrustee" property="unitestrustee" jdbcType="VARCHAR" />
    <result column="UnitesBankname" property="unitesbankname" jdbcType="VARCHAR" />
    <result column="UnitesAccounts" property="unitesaccounts" jdbcType="VARCHAR" />
    <result column="UnitesPerson" property="unitesperson" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UnitInfoAccount, UnitInfoId, UnitsName, UnitsDepositRatio, UnitsIndividua, UnitsDeposite, 
    UnitsArchive, UnitsBalance, nitsCancelDate, UnitesCancelCause, UnitesState, UnitesPaiduntil, 
    UnitesArrearsMoney, UnitesArrearsMonths, Unitesdeposit, UnitesUsername, UnitesAccount, 
    UnitesTrustee, UnitesBankname, UnitesAccounts, UnitesPerson
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from unitsaccount
    where UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from unitsaccount
    where UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Unitsaccount" >
    insert into unitsaccount (UnitInfoAccount, UnitInfoId, UnitsName, 
      UnitsDepositRatio, UnitsIndividua, UnitsDeposite, 
      UnitsArchive, UnitsBalance, nitsCancelDate, 
      UnitesCancelCause, UnitesState, UnitesPaiduntil, 
      UnitesArrearsMoney, UnitesArrearsMonths, 
      Unitesdeposit, UnitesUsername, UnitesAccount, 
      UnitesTrustee, UnitesBankname, UnitesAccounts, 
      UnitesPerson)
    values (#{unitinfoaccount,jdbcType=INTEGER}, #{unitinfoid,jdbcType=INTEGER}, #{unitsname,jdbcType=VARCHAR}, 
      #{unitsdepositratio,jdbcType=VARCHAR}, #{unitsindividua,jdbcType=VARCHAR}, #{unitsdeposite,jdbcType=DECIMAL}, 
      #{unitsarchive,jdbcType=DECIMAL}, #{unitsbalance,jdbcType=DECIMAL}, #{nitscanceldate,jdbcType=VARCHAR}, 
      #{unitescancelcause,jdbcType=VARCHAR}, #{unitesstate,jdbcType=VARCHAR}, #{unitespaiduntil,jdbcType=VARCHAR}, 
      #{unitesarrearsmoney,jdbcType=VARCHAR}, #{unitesarrearsmonths,jdbcType=VARCHAR}, 
      #{unitesdeposit,jdbcType=VARCHAR}, #{unitesusername,jdbcType=VARCHAR}, #{unitesaccount,jdbcType=VARCHAR}, 
      #{unitestrustee,jdbcType=VARCHAR}, #{unitesbankname,jdbcType=VARCHAR}, #{unitesaccounts,jdbcType=VARCHAR}, 
      #{unitesperson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Unitsaccount" >
    insert into unitsaccount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitinfoaccount != null" >
        UnitInfoAccount,
      </if>
      <if test="unitinfoid != null" >
        UnitInfoId,
      </if>
      <if test="unitsname != null" >
        UnitsName,
      </if>
      <if test="unitsdepositratio != null" >
        UnitsDepositRatio,
      </if>
      <if test="unitsindividua != null" >
        UnitsIndividua,
      </if>
      <if test="unitsdeposite != null" >
        UnitsDeposite,
      </if>
      <if test="unitsarchive != null" >
        UnitsArchive,
      </if>
      <if test="unitsbalance != null" >
        UnitsBalance,
      </if>
      <if test="nitscanceldate != null" >
        nitsCancelDate,
      </if>
      <if test="unitescancelcause != null" >
        UnitesCancelCause,
      </if>
      <if test="unitesstate != null" >
        UnitesState,
      </if>
      <if test="unitespaiduntil != null" >
        UnitesPaiduntil,
      </if>
      <if test="unitesarrearsmoney != null" >
        UnitesArrearsMoney,
      </if>
      <if test="unitesarrearsmonths != null" >
        UnitesArrearsMonths,
      </if>
      <if test="unitesdeposit != null" >
        Unitesdeposit,
      </if>
      <if test="unitesusername != null" >
        UnitesUsername,
      </if>
      <if test="unitesaccount != null" >
        UnitesAccount,
      </if>
      <if test="unitestrustee != null" >
        UnitesTrustee,
      </if>
      <if test="unitesbankname != null" >
        UnitesBankname,
      </if>
      <if test="unitesaccounts != null" >
        UnitesAccounts,
      </if>
      <if test="unitesperson != null" >
        UnitesPerson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitinfoaccount != null" >
        #{unitinfoaccount,jdbcType=INTEGER},
      </if>
      <if test="unitinfoid != null" >
        #{unitinfoid,jdbcType=INTEGER},
      </if>
      <if test="unitsname != null" >
        #{unitsname,jdbcType=VARCHAR},
      </if>
      <if test="unitsdepositratio != null" >
        #{unitsdepositratio,jdbcType=VARCHAR},
      </if>
      <if test="unitsindividua != null" >
        #{unitsindividua,jdbcType=VARCHAR},
      </if>
      <if test="unitsdeposite != null" >
        #{unitsdeposite,jdbcType=DECIMAL},
      </if>
      <if test="unitsarchive != null" >
        #{unitsarchive,jdbcType=DECIMAL},
      </if>
      <if test="unitsbalance != null" >
        #{unitsbalance,jdbcType=DECIMAL},
      </if>
      <if test="nitscanceldate != null" >
        #{nitscanceldate,jdbcType=VARCHAR},
      </if>
      <if test="unitescancelcause != null" >
        #{unitescancelcause,jdbcType=VARCHAR},
      </if>
      <if test="unitesstate != null" >
        #{unitesstate,jdbcType=VARCHAR},
      </if>
      <if test="unitespaiduntil != null" >
        #{unitespaiduntil,jdbcType=VARCHAR},
      </if>
      <if test="unitesarrearsmoney != null" >
        #{unitesarrearsmoney,jdbcType=VARCHAR},
      </if>
      <if test="unitesarrearsmonths != null" >
        #{unitesarrearsmonths,jdbcType=VARCHAR},
      </if>
      <if test="unitesdeposit != null" >
        #{unitesdeposit,jdbcType=VARCHAR},
      </if>
      <if test="unitesusername != null" >
        #{unitesusername,jdbcType=VARCHAR},
      </if>
      <if test="unitesaccount != null" >
        #{unitesaccount,jdbcType=VARCHAR},
      </if>
      <if test="unitestrustee != null" >
        #{unitestrustee,jdbcType=VARCHAR},
      </if>
      <if test="unitesbankname != null" >
        #{unitesbankname,jdbcType=VARCHAR},
      </if>
      <if test="unitesaccounts != null" >
        #{unitesaccounts,jdbcType=VARCHAR},
      </if>
      <if test="unitesperson != null" >
        #{unitesperson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Unitsaccount" >
    update unitsaccount
    <set >
      <if test="unitinfoid != null" >
        UnitInfoId = #{unitinfoid,jdbcType=INTEGER},
      </if>
      <if test="unitsname != null" >
        UnitsName = #{unitsname,jdbcType=VARCHAR},
      </if>
      <if test="unitsdepositratio != null" >
        UnitsDepositRatio = #{unitsdepositratio,jdbcType=VARCHAR},
      </if>
      <if test="unitsindividua != null" >
        UnitsIndividua = #{unitsindividua,jdbcType=VARCHAR},
      </if>
      <if test="unitsdeposite != null" >
        UnitsDeposite = #{unitsdeposite,jdbcType=DECIMAL},
      </if>
      <if test="unitsarchive != null" >
        UnitsArchive = #{unitsarchive,jdbcType=DECIMAL},
      </if>
      <if test="unitsbalance != null" >
        UnitsBalance = #{unitsbalance,jdbcType=DECIMAL},
      </if>
      <if test="nitscanceldate != null" >
        nitsCancelDate = #{nitscanceldate,jdbcType=VARCHAR},
      </if>
      <if test="unitescancelcause != null" >
        UnitesCancelCause = #{unitescancelcause,jdbcType=VARCHAR},
      </if>
      <if test="unitesstate != null" >
        UnitesState = #{unitesstate,jdbcType=VARCHAR},
      </if>
      <if test="unitespaiduntil != null" >
        UnitesPaiduntil = #{unitespaiduntil,jdbcType=VARCHAR},
      </if>
      <if test="unitesarrearsmoney != null" >
        UnitesArrearsMoney = #{unitesarrearsmoney,jdbcType=VARCHAR},
      </if>
      <if test="unitesarrearsmonths != null" >
        UnitesArrearsMonths = #{unitesarrearsmonths,jdbcType=VARCHAR},
      </if>
      <if test="unitesdeposit != null" >
        Unitesdeposit = #{unitesdeposit,jdbcType=VARCHAR},
      </if>
      <if test="unitesusername != null" >
        UnitesUsername = #{unitesusername,jdbcType=VARCHAR},
      </if>
      <if test="unitesaccount != null" >
        UnitesAccount = #{unitesaccount,jdbcType=VARCHAR},
      </if>
      <if test="unitestrustee != null" >
        UnitesTrustee = #{unitestrustee,jdbcType=VARCHAR},
      </if>
      <if test="unitesbankname != null" >
        UnitesBankname = #{unitesbankname,jdbcType=VARCHAR},
      </if>
      <if test="unitesaccounts != null" >
        UnitesAccounts = #{unitesaccounts,jdbcType=VARCHAR},
      </if>
      <if test="unitesperson != null" >
        UnitesPerson = #{unitesperson,jdbcType=VARCHAR},
      </if>
    </set>
    where UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Unitsaccount" >
    update unitsaccount
    set UnitInfoId = #{unitinfoid,jdbcType=INTEGER},
      UnitsName = #{unitsname,jdbcType=VARCHAR},
      UnitsDepositRatio = #{unitsdepositratio,jdbcType=VARCHAR},
      UnitsIndividua = #{unitsindividua,jdbcType=VARCHAR},
      UnitsDeposite = #{unitsdeposite,jdbcType=DECIMAL},
      UnitsArchive = #{unitsarchive,jdbcType=DECIMAL},
      UnitsBalance = #{unitsbalance,jdbcType=DECIMAL},
      nitsCancelDate = #{nitscanceldate,jdbcType=VARCHAR},
      UnitesCancelCause = #{unitescancelcause,jdbcType=VARCHAR},
      UnitesState = #{unitesstate,jdbcType=VARCHAR},
      UnitesPaiduntil = #{unitespaiduntil,jdbcType=VARCHAR},
      UnitesArrearsMoney = #{unitesarrearsmoney,jdbcType=VARCHAR},
      UnitesArrearsMonths = #{unitesarrearsmonths,jdbcType=VARCHAR},
      Unitesdeposit = #{unitesdeposit,jdbcType=VARCHAR},
      UnitesUsername = #{unitesusername,jdbcType=VARCHAR},
      UnitesAccount = #{unitesaccount,jdbcType=VARCHAR},
      UnitesTrustee = #{unitestrustee,jdbcType=VARCHAR},
      UnitesBankname = #{unitesbankname,jdbcType=VARCHAR},
      UnitesAccounts = #{unitesaccounts,jdbcType=VARCHAR},
      UnitesPerson = #{unitesperson,jdbcType=VARCHAR}
    where UnitInfoAccount = #{unitinfoaccount,jdbcType=INTEGER}
  </update>
</mapper>