<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UnitpositionMapper">
<select id="queryZw" resultType="map">
  select * from Unitposition
</select>
  <resultMap id="BaseResultMap" type="com.entity.Unitposition">
    <id column="UnitpositionId" jdbcType="INTEGER" property="unitpositionid" />
    <result column="UnitInfoId" jdbcType="INTEGER" property="unitinfoid" />
    <result column="jobTitle" jdbcType="VARCHAR" property="jobtitle" />
  </resultMap>
  <sql id="Base_Column_List">
    UnitpositionId, UnitInfoId, jobTitle
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from unitposition
    where UnitpositionId = #{unitpositionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from unitposition
    where UnitpositionId = #{unitpositionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Unitposition">
    insert into unitposition (UnitpositionId, UnitInfoId, jobTitle
      )
    values (#{unitpositionid,jdbcType=INTEGER}, #{unitinfoid,jdbcType=INTEGER}, #{jobtitle,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Unitposition">
    insert into unitposition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unitpositionid != null">
        UnitpositionId,
      </if>
      <if test="unitinfoid != null">
        UnitInfoId,
      </if>
      <if test="jobtitle != null">
        jobTitle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unitpositionid != null">
        #{unitpositionid,jdbcType=INTEGER},
      </if>
      <if test="unitinfoid != null">
        #{unitinfoid,jdbcType=INTEGER},
      </if>
      <if test="jobtitle != null">
        #{jobtitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Unitposition">
    update unitposition
    <set>
      <if test="unitinfoid != null">
        UnitInfoId = #{unitinfoid,jdbcType=INTEGER},
      </if>
      <if test="jobtitle != null">
        jobTitle = #{jobtitle,jdbcType=VARCHAR},
      </if>
    </set>
    where UnitpositionId = #{unitpositionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Unitposition">
    update unitposition
    set UnitInfoId = #{unitinfoid,jdbcType=INTEGER},
      jobTitle = #{jobtitle,jdbcType=VARCHAR}
    where UnitpositionId = #{unitpositionid,jdbcType=INTEGER}
  </update>
</mapper>