<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.xtyjbxxMapper" >
  <resultMap id="BaseResultMap" type="com.entity.xtyjbxx" >
    <id column="ygbh" property="ygbh" jdbcType="INTEGER" />
    <result column="ygxm" property="ygxm" jdbcType="VARCHAR" />
    <result column="zjlx" property="zjlx" jdbcType="VARCHAR" />
    <result column="zjh" property="zjh" jdbcType="VARCHAR" />
    <result column="ygxb" property="ygxb" jdbcType="VARCHAR" />
    <result column="ygnl" property="ygnl" jdbcType="INTEGER" />
    <result column="ygdh" property="ygdh" jdbcType="VARCHAR" />
    <result column="ygzz" property="ygzz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ygbh, ygxm, zjlx, zjh, ygxb, ygnl, ygdh, ygzz
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xtyjbxx
    where ygbh = #{ygbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xtyjbxx
    where ygbh = #{ygbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.xtyjbxx" >
    insert into xtyjbxx (ygbh, ygxm, zjlx, 
      zjh, ygxb, ygnl, ygdh, 
      ygzz)
    values (#{ygbh,jdbcType=INTEGER}, #{ygxm,jdbcType=VARCHAR}, #{zjlx,jdbcType=VARCHAR}, 
      #{zjh,jdbcType=VARCHAR}, #{ygxb,jdbcType=VARCHAR}, #{ygnl,jdbcType=INTEGER}, #{ygdh,jdbcType=VARCHAR}, 
      #{ygzz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.xtyjbxx" >
    insert into xtyjbxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ygbh != null" >
        ygbh,
      </if>
      <if test="ygxm != null" >
        ygxm,
      </if>
      <if test="zjlx != null" >
        zjlx,
      </if>
      <if test="zjh != null" >
        zjh,
      </if>
      <if test="ygxb != null" >
        ygxb,
      </if>
      <if test="ygnl != null" >
        ygnl,
      </if>
      <if test="ygdh != null" >
        ygdh,
      </if>
      <if test="ygzz != null" >
        ygzz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ygbh != null" >
        #{ygbh,jdbcType=INTEGER},
      </if>
      <if test="ygxm != null" >
        #{ygxm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null" >
        #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjh != null" >
        #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="ygxb != null" >
        #{ygxb,jdbcType=VARCHAR},
      </if>
      <if test="ygnl != null" >
        #{ygnl,jdbcType=INTEGER},
      </if>
      <if test="ygdh != null" >
        #{ygdh,jdbcType=VARCHAR},
      </if>
      <if test="ygzz != null" >
        #{ygzz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.xtyjbxx" >
    update xtyjbxx
    <set >
      <if test="ygxm != null" >
        ygxm = #{ygxm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null" >
        zjlx = #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjh != null" >
        zjh = #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="ygxb != null" >
        ygxb = #{ygxb,jdbcType=VARCHAR},
      </if>
      <if test="ygnl != null" >
        ygnl = #{ygnl,jdbcType=INTEGER},
      </if>
      <if test="ygdh != null" >
        ygdh = #{ygdh,jdbcType=VARCHAR},
      </if>
      <if test="ygzz != null" >
        ygzz = #{ygzz,jdbcType=VARCHAR},
      </if>
    </set>
    where ygbh = #{ygbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.xtyjbxx" >
    update xtyjbxx
    set ygxm = #{ygxm,jdbcType=VARCHAR},
      zjlx = #{zjlx,jdbcType=VARCHAR},
      zjh = #{zjh,jdbcType=VARCHAR},
      ygxb = #{ygxb,jdbcType=VARCHAR},
      ygnl = #{ygnl,jdbcType=INTEGER},
      ygdh = #{ygdh,jdbcType=VARCHAR},
      ygzz = #{ygzz,jdbcType=VARCHAR}
    where ygbh = #{ygbh,jdbcType=INTEGER}
  </update>
</mapper>