<web-app id="WebApp_1539320262669">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<filter>  
        <filter-name>loginFilter</filter-name>  
   <!-- 这里的filterclass是你创建的fitler类   -->
        <filter-class>com.llt.util.Filter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>loginFilter</filter-name>  
 <!--  定义规则   -->
        <url-pattern>*.jsp</url-pattern>  
    </filter-mapping> 
	
       <!-- 解决工程编码过滤器  
        注意:请将此过滤器放在所有过滤器的前面，否则有可能出现乱码  -->

	<!-- Spring监听器 -->
    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     <!-- 加载Spring 容器配置 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置 springMVC 核心控制器 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name><!-- 配置上下文路径：指定全局配置文件的位置 -->
			<param-value>classpath:springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup><!-- 自启动，数字越小优先级越高 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	 <!-- 加载log4j配置文件 -->
    <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>classpath:log4j.properties</param-value>
      <!-- <param-value>/WEB-INF/log4j.xml</param-value> -->
    </context-param>
    <listener>
       <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

</web-app>
